<nav class="navbar">
  <div class="nav-left">
    <a class="logo" routerLink="/">
      <img src="logo-symbol.svg" alt="Asclepio" class="nav-logo-symbol" />
      <div class="nav-brand-text">
        <span class="nav-brand-name">ASCLEPIO</span>
        <span class="nav-brand-sub">Painel Administrativo</span>
      </div>
    </a>
  </div>

  <div class="actions">

    @if (!authService.isAuthenticated()) {
      <a routerLink="/login" class="login-btn">Login</a>
    }

    @if (authService.isAuthenticated()) {
      <button class="user-btn">
        Olá, {{ authService.getUserName() || 'suporte' }}
      </button>
      <button class="logout-btn" (click)="logout()">Sair</button>
    }

  </div>
</nav>